/*-----------------------------------*\
  #style_properties_listing.css
\*-----------------------------------*/

/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property-card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
  margin: 10px;
}
/*-----------------------------------*\
  #PAGINATION
\*-----------------------------------*/

.pagination {
  margin-top: -50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10%;
  font-size: large;
  align-items: center;
}

.pagination button {
  margin: 0 10px;
  justify-content: center;
}


main {
  background: var(--cultured-2);
}

#prevPage ion-icon, #nextPage ion-icon {
  transform: scale(1.5);
}

/*-----------------------------------*\
  #FILTERS
\*-----------------------------------*/

.filters {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.category {
  padding: 15px;
  margin: 10px;
  margin-top: 5px;
  margin-right: 5px;
  background: var(--white);
  box-shadow: var(--shadow-2);
  margin-bottom: 10px;
}

.category h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--black);
}
.category ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  list-style: none;
  padding: 0;
}
.category ul li {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: var(--cadet);
}
.category ul li input {
  margin-right: 8px;
  scale: 1.4;
  color: var(--cadet);
}

.sortBy {
  padding: 15px;
  margin: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  gap: 10px;
  background: var(--white);
  box-shadow: var(--shadow-2);
}

.sortBy select {
  margin-top: -10px;
  color: var(--cadet);
  width: 100%;
  padding: 5px;
}

.sortBy h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--black);
}

@media (min-width: 600px) {
  .propertyList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }
}

@media (min-width: 768px) {
  .propertyList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  }
}

header {
  margin-bottom: -85px;
}