/*-----------------------------------*\
  #style_properties_listing.css
\*-----------------------------------*/

/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property-card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
  margin: 10px;
}
/*-----------------------------------*\
  #PAGINATION
\*-----------------------------------*/

.pagination {
  margin-top: -50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10%;
  font-size: large;
  align-items: center;
}

.pagination button {
  margin: 0 10px;
  justify-content: center;
}

main {
  background: var(--cultured-2);
}

#prevPage ion-icon, #nextPage ion-icon {
  transform: scale(1.5);
}

/*-----------------------------------*\
  #FILTERS
\*-----------------------------------*/

.filters {
  margin-top: -50px;
  padding: 10px;
  display: grid;
  margin: 10px;
  gap: 10px;
  background: var(--white);
  box-shadow: var(--shadow-2);
}

.filters select {
  margin-top: -10px;
}

@media (min-width: 430px) {
  .filters {
    display: flex;
    align-items: center;
  }
  .filters select {
    margin-top: 0px;
  }
}

@media (min-width: 600px) {
  .propertyList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }
}

@media (min-width: 768px) {
  .propertyList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  }
}

header {
  margin-bottom: -85px;
}