/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

:root {


    /**
     * colors
     */
  
    --dark-jungle-green: hsl(188, 63%, 7%);
    --prussian-blue: hsl(200, 69%, 14%);
    --raisin-black-1: hsl(227, 29%, 13%);
    --raisin-black-2: hsl(229, 17%, 19%);
    --yellow-green: hsl(89, 72%, 45%);
    --orange-soda: hsl(28 100% 50%);
    --cultured-1: hsl(0, 0%, 93%);
    --cultured-2: hsl(192, 24%, 96%);
    --misty-rose: hsl(7, 56%, 91%);
    --alice-blue: hsl(210, 100%, 97%);
    --seashell: hsl(8, 100%, 97%);
    --cadet: hsl(200, 15%, 43%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --opal: hsl(180, 20%, 62%);
    --asd:hsl(28 100% 50%)
    
    /**
     * typography
     */
  
    --ff-nunito-sans: "Nunito Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
  
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;
    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
  
    /**
     * spacing
     */
  
    --section-padding: 100px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
    --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  button,
  ion-icon { display: block; }
  
  button {
    border: none;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
  }
  
  address { font-style: normal; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-nunito-sans);
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--white);
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track { background: var(--white); }
  
  ::-webkit-scrollbar-thumb {
    background: var(--cadet);
    border-left: 2px solid var(--white);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  button, a { transition: var(--transition); }
  
  .h1,
  .h2,
  .h3 {
    color: var(--dark-jungle-green);
    font-family: var(--ff-poppins);
    line-height: 1.3;
  }
  
  .h1 {
    font-size: var(--fs-1);
    line-height: 1;
  }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 {
    font-size: var(--fs-4);
    font-weight: var(--font-weight, 700);
  }
  
  .h3 > a { color: inherit; }
  
  .btn {
    position: relative;
    background: var(--orange-soda);
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: var(--fs-5);
    text-transform: var(--text-transform, capitalize);
    border: 1px solid var(--orange-soda);
    padding: 10px 20px;
    z-index: 0;
    transition: .2s ease-in;
  }
  
  .btn:is(:hover, :focus) {
    background: var(--black);
    color: var(--dark-jungle-green);
    border-color: var(--black);
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--white);
    transition: var(--transition);
    z-index: -2;
  }
  
  .btn:is(:hover, :focus)::before { width: 100%; }
  
  .w-100 { width: 100%; }
  
  .section-subtitle {
    color: var(--orange-soda);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    padding: 5px 20px;
    background: hsla(9, 100%, 62%, 0.1);
    width: max-content;
    border-radius: 50px;
    margin-inline: auto;
    margin-bottom: 15px;
  }
  
  .section-title {
    text-align: var(--text-align, center);
    margin-bottom: var(--margin-bottom, 50px);
  }
  
  .card-badge {
    background: var(--black);
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 4px 10px;
  }
  
  .card-badge.green { background: var(--yellow-green); }
  
  .card-badge.orange { background: var(--orange-soda); }
  
  .has-scrollbar {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    overflow-x: auto;
    margin-inline: -15px;
    padding-inline: 15px;
    scroll-padding-left: 15px;
    padding-bottom: 60px;
    scroll-snap-type: inline mandatory;
  }
  
  .has-scrollbar > li {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background: var(--cultured-2);
    outline: 2px solid var(--cadet);
    border-radius: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--cadet);
    border: 1px solid var(--cultured-2);
    border-radius: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-button { width: 15%; }


* {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--white);
}
.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #000000;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
  font-family: var(--ff-poppins);
}
input{
	width: 70%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 15px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
  text-transform: capitalize;
}

.pswd {
  text-transform: none;
}

.signin {
  scale: 10%;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  text-decoration: underline;
  font-family: var(--ff-poppins);
  font-size: smaller;
  text-align: right;
  margin-right: 15%;
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-200px);
	transition: .8s ease-in-out;
}
.login label{
	transform: scale(.8);
  translate: 0px 20px;
}
.login button{
  margin-top: 5%;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.8);
}
